{#
/**
 * @file
 * Default theme implementation for an individual TabPanelWidget content item.
 *
 * Available variables:
 *
 * - element: H# element to use for the title.
 *
 * - attributes: HTML attributes for the containing element (usually just a class to
 *               indicate whether this is the default item).
 *
 * - title: The title, used for the tab or accordion header.
 *
 * - content: The content of the item, used for the body of the tab or accordion.
 *
 */
#}
<{{ element }}{{ attributes }}>{{ title }}</{{ element }}>
{{ content }}
