{#
/**
 * @file
 * Default theme implementation for a TabPanelWidget.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - items: an array of items to display within the TabPanelWidget.
 */
#}
<div {{ attributes }}>
{% for item in items %}
  {{ item }}
{% endfor %}
</div>
